

::-webkit-scrollbar{
  display: none;
}

h1{
  color: red;
}



iframe{
  position: relative;
  height: 100vh;
}

#fullPage{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y:auto;
}

.section{
  scroll-snap-align: start;
  height: 100vh;
}

#search-bar{
  margin-top: 60px;
  position: fixed;
  z-index: 10000;
}


.container{
  justify-content: center;
  align-items: center;
  display: flex;
}



.s1{
  background: green;
}

.s2{
  background: lightgrey;
}
.s3{
  background: black;
}

.sticky-button{
  position: fixed;
  right:0;
  top:45vh;
  z-index: 1000;
}

.sidepanel, .favorsidepanel{
  position: fixed;
  width: 0vw;
  height: 100vh;
  z-index: 10000;
  right:0;
  background: white;
  transition: .5s;
}

.sidepanelcontent{
  padding: 20px;
}

.videos{
  overflow: auto;
  height: 94vh;
  width: 100%;
}

.videos iframe{
  width: 100%;
  height: 140px;
  border-radius: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}


#closebutton, #favorclosebutton{
  position: fixed;
  width: 40px;
  display: none;
  z-index: 1000;
  right: 0;
  padding-right: 0;
  top: 46vh;
  cursor: pointer;
  opacity: 0.7;
  transition: .5s;
}

#closebutton:hover, #favorclosebutton:hover{
  transform: scale(1.1) rotate(90deg);
  opacity: 1;
}



.loginform{
  justify-content: center;
  align-items: center;
  display: none;
}
.signupform{
  justify-content: center;
  align-items: center;
  display: none;
}

.signup{
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 15pt;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 20px;
  margin-left: 2px;
  margin-top: 10px;
  transition: .5s;
}
.signup:hover{
  transform: scale(1.03);
  letter-spacing: 5px;
}

#login-form{
  top: 35vh;
  position: fixed;
  z-index: 10000;
  background: white;
  padding: 30px;
  border-radius: 30px;
}


#login-form input{
  margin-top: 5px;
  margin-bottom: 5px;
}

#login-form button{
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 15pt;
  font-weight: 700;
  width: 100%
}

#login-form .signup{
  background: rgb(255, 144, 144);
  color: black;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeform{
  position: relative;
  margin-top: 10px;
  width: 50px;
  z-index: 10000;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}

#closeform:hover{
  transform: scale(1.1) rotate(90deg);
  opacity: 1;
}


h4 {
  font-size: 20pt;
  font-weight: 900;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  color: rgb(48, 172, 251);
  transition: 1s;
}

h4::after {
  content: '';
  flex: 1;
  margin-left: 1.2rem;
  height: 1px;
  color: lightgrey;
  background-color: rgba(0, 0, 0, .1);
}

.logout{
  position: fixed;
  bottom:0;
  width: 300px;
  height: 70px;
  font-size: 20pt;
  background: black;
  color: white;
  border: 0px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 2px;
  transition: .5s;
}

.logout:hover{
  letter-spacing: 8px;
  background: grey;
  color: black;
}
button{
  outline-style:none;
}


.sticky-button li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 2vw;
  cursor: pointer;
}

ul{
  list-style: none;
  margin-right: 10px;
}


#account svg{
  fill:rgb(50, 206, 255);
  height: 40px;
  width: 40px;
  opacity: 0.7;
}

#heart svg{
  fill:white;
  height: 40px;
  width: 40px;
  opacity: 0.7;
}

#favorite svg{
  fill:rgb(50, 206, 255);
}
#account svg{
  fill:rgb(50, 206, 255);
}
#heart img{
  margin-left: 3px;
  height: 30px;
  fill:white;
}

.hover-effect{
  opacity: 0.5;
  transition: .5s;
  z-index: 1000;
}

.hover-effect:hover{
  opacity: 1;
  transform: scale(1.1) rotate(15deg);
}





form input{
  width: 350px;
  border-radius: 30px;
  border: 2px solid lightgrey;
  background: rgba(255, 255, 255, 0.65);
  opacity: 0.7;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 10px;
  outline: none;
  color: rgb(97, 97, 97);
  transition: 1s;
}

form input:hover{
  opacity: 1;
  transform: scale(1.03);
}

form button{
  border-radius: 30px;
  border:0px;
  background:rgb(29, 160, 255);
  padding: 0 14px;
  font-size: 15pt;
  color: white;
  cursor: pointer;
  opacity: 0.7;
  margin-left: 5px;
  font-weight: 700;
  outline: none;
  transition: 1s;
}

form button:hover{
  opacity: 1;
  letter-spacing: 2px;
  transform:scale(1.03);
}
