h1{
  color: red;
}


iframe{
  position: relative;
  height: 100vh;
}

#fullPage{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y:auto;
}

.section{
  scroll-snap-align: start;
  height: 100vh;
}

#search-bar{
  margin-top: 60px;
  position: fixed;
  z-index: 10000;
}


.container{
  justify-content: center;
  align-items: center;
  display: flex;
}



/* .s1{
  background: green;
}

.s2{
  background: lightgrey;
}
.s3{
  background: black;
} */


form input{
  width: 350px;
  border-radius: 30px;
  border: 2px solid lightgrey;
  background: rgba(255, 255, 255, 0.65);
  opacity: 0.7;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 10px;
  outline: none;
  color: rgb(97, 97, 97);
  transition: 1s;
}

form input:hover{
  opacity: 1;
  transform: scale(1.03);
}

form button{
  border-radius: 30px;
  border:0px;
  background:rgb(29, 160, 255);
  padding: 0 14px;
  font-size: 15pt;
  color: white;
  cursor: pointer;
  opacity: 0.7;
  margin-left: 5px;
  font-weight: 700;
  outline: none;
  transition: 1s;
}

form button:hover{
  opacity: 1;
  letter-spacing: 2px;
  transform:scale(1.03);
}
